# Compilação
target/
*.jar
*.war
*.ear

# Configuração do Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Arquivos de IDEs
*.iml
.idea/
*.swp
*.swo
*.bak
*.tmp

# Configuração do sistema
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
*.out
hs_err_pid*
